@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  font-family: 'Poppins';
  margin: 20px;
  color: #000
}

nav {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

nav h1 {
  margin-right: auto;
}
a {
  color: red
}

img {
  max-width: 100%;
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

.produk {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}